<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ modalHeaderText }}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
</div>
<div class="modal-body">
    <div class="row mb-3">
        <div class="col-sm-4">
            <div class="establishment-info">
                <h6>Establishment Information</h6>
                <div class="p-1">
                    <div class="row">
                        <div class="col">
                            <div class="mb-2">
                                <label class="form-label fw-bold">Code</label>
                                <input type="text" class="form-control form-control-sm" placeholder="Code"
                                    [(ngModel)]="establishment.code" [disabled]="disableCode()" required
                                    #code="ngModel">
                                <div *ngIf="code.invalid && (code.dirty || code.touched)"
                                    class=" alert alert-danger p-1 mt-1">
                                    <div *ngIf="code.errors?.['required']">Code is required.</div>
                                </div>

                            </div>
                            <div class="mb-2">
                                <label class="form-label fw-bold">Block</label>
                                <select class="form-select form-select-sm" [(ngModel)]="establishment.block" required
                                    #block="ngModel">
                                    <option *ngFor="let o of blocks;" [value]="o.value">{{ o.label }}</option>
                                </select>
                                <div *ngIf="block.invalid && (block.dirty || block.touched)"
                                    class="alert alert-danger p-1 mt-1">
                                    <div *ngIf="block.errors?.['required']">Please select block.</div>
                                </div>
                            </div>
                            <div class="mb-2">
                                <label class="form-label fw-bold">Address</label>
                                <textarea class="form-control form-control-sm" rows="3"
                                    [(ngModel)]="establishment.address" placeholder="Address" required
                                    #address="ngModel"></textarea>
                                <div *ngIf="address.invalid && (address.dirty || address.touched)"
                                    class="alert alert-danger p-1 mt-1">
                                    <div *ngIf="address.errors?.['required']">Address is required.</div>
                                </div>
                            </div>
                            <div class="mb-2">
                                <label class="form-label fw-bold">Establishment Type</label>
                                <select class="form-select form-select-sm" [(ngModel)]="establishment.type" required
                                    #type="ngModel">
                                    <option *ngFor="let o of types;" [value]="o.value">{{ o.label }}</option>
                                </select>
                                <div *ngIf="type.invalid && (type.dirty || type.touched)"
                                    class="alert alert-danger p-1 mt-1">
                                    <div *ngIf="type.errors?.['required']">Please select type.</div>
                                </div>
                            </div>
                            <div class="mb-2">
                                <label class="form-label fw-bold">Image Attachment</label>
                                <input class="form-control form-control-sm" type="file" multiple="true"
                                    (change)="onImageSelected($event)" accept="image/*">
                            </div>
                            <div class="mb-2" *ngIf="establishment.image !== ''">
                                <img [src]="establishment.image" class="img-thumbnail" alt="profile"
                                    style="height: 90px; width: 130px;">
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="col-sm-8">
            <div class="resident-info">
                <h6>Resident Information</h6>
                <div class="p-1">
                    <div class="input-group input-group-sm mb-3">
                        <select class="form-select" [(ngModel)]="selectedResident">
                            <option *ngFor="let o of residents; let i = index" [value]="i">{{o.first_name}} {{
                                o.last_name}}</option>
                        </select>
                        <div ngbDropdown class="d-inline-block">
                            <button type="button" class="btn btn-outline-primary btn-sm" ngbDropdownToggle>
                                Action
                            </button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <button ngbDropdownItem (click)="ResidentInfo('Add')">Add</button>
                                <button ngbDropdownItem (click)="ResidentInfo('Update')">Edit</button>
                                <div class="dropdown-divider"></div>
                                <button ngbDropdownItem (click)="deleteResident()">Delete</button>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive" *ngIf="residents.length > 0">
                        <table class="table table-sm table-bordered table-striped" id="resident-table">
                            <tbody>
                                <tr>
                                    <th>First Name</th>
                                    <td>{{ residents[selectedResident].first_name}}</td>
                                    <th>Nationality</th>
                                    <td>{{ residents[selectedResident].nationality }}</td>
                                </tr>
                                <tr>
                                    <th>Middle Name</th>
                                    <td>{{ residents[selectedResident].middle_name }}</td>
                                    <th>Civil Status</th>
                                    <td>{{ residents[selectedResident].civil_status }}</td>
                                </tr>
                                <tr>
                                    <th>Last Name</th>
                                    <td>{{ residents[selectedResident].last_name }}</td>
                                    <th>Date of Birth</th>
                                    <td>{{ residents[selectedResident].birth_date }}</td>
                                </tr>
                                <tr>
                                    <th>Occupation</th>
                                    <td>{{ residents[selectedResident].occupation }}</td>
                                    <th>Contact No</th>
                                    <td>{{ residents[selectedResident].contact_no }}</td>
                                </tr>
                                <tr>
                                    <th>Present Address</th>
                                    <td>{{ residents[selectedResident].present_address }}</td>
                                    <th>Emergency Contact Person</th>
                                    <td>{{ residents[selectedResident].emergency_name }}</td>
                                </tr>
                                <tr>
                                    <th>Age</th>
                                    <td>{{ residents[selectedResident].age }}</td>
                                    <th>Address</th>
                                    <td>{{ residents[selectedResident].emergency_address}}</td>
                                </tr>
                                <tr>
                                    <th>Gender</th>
                                    <td>{{ residents[selectedResident].gender }}</td>
                                    <th>Contact No.</th>
                                    <td>{{ residents[selectedResident].emergency_contact_no }}</td>
                                </tr>
                                <tr>
                                    <th>Personal Info</th>
                                    <td class="text-center"><button type="button" class="btn btn-sm btn-link p-0" (click)="openResidentInfoAttachment()">View</button></td>
                                </tr>
                                <!-- <tr>
                                    <th>Attachment File</th>
                                    <td> <input class="form-control form-control-sm" type="file"></td>
                                </tr> -->
                                <!-- <tr>
                                    <th>Barangay ID</th>
                                    <td class="text-end"><button type="button"
                                            class="btn btn-outline-primary btn-sm">Generate</button>
                                    </td>
                                    <th>Barangay Residency Form</th>
                                    <td class="text-end"><button type="button"
                                            class="btn btn-outline-primary btn-sm">Generate</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Barangay Clearance</th>
                                    <td class="text-end"><button type="button" class="btn btn-outline-primary btn-sm"
                                            (click)="generateBarangayClearance()">Generate</button>
                                    </td>
                                    <th>Barangay Indingency</th>
                                    <td class="text-end"><button type="button"
                                            class="btn btn-outline-primary btn-sm">Generate</button>
                                    </td>
                                </tr> -->
                            </tbody>
                        </table>
                    </div>
                </div>
                <ng-template [ngIf]="residents.length > 0">
                    <h6>Forms</h6>
                    <div class="p-1">
                        <table class="table table-sm table-bordered">
                            <tbody>
                                <tr>
                                    <th>Barangay Residency</th>
                                    <td class="text-center"><button type="button" class="btn btn-link btn-sm p-0"
                                            (click)="generateBarangayResidency()">Generate</button></td>
                                </tr>
                                <tr>
                                    <th>Certificate Indigency</th>
                                    <td class="text-center"><button type="button" class="btn btn-link btn-sm p-0"
                                            (click)="generateCertIndigency()">Generate</button></td>
                                </tr>
                                <tr>
                                    <th>Barangay Indigency</th>
                                    <td class="text-center"><button type="button" class="btn btn-link btn-sm p-0"
                                            (click)="generateBarangayIndigency()">Generate</button></td>
                                </tr>
                                <tr>
                                    <th>Barangay Clearance</th>
                                    <td class="text-center"><button type="button" class="btn btn-link btn-sm p-0"
                                            (click)="generateBarangayClearance()">Generate</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <div *ngIf="action == 'Add'">
        <button type="button" class="btn btn-sm btn-outline-secondary" (click)="addMasterData()"><i
                class="bi bi-save"></i>
            Save</button>
    </div>
    <div *ngIf="action == 'View'">
        <button type="button" class="btn btn-sm btn-outline-secondary" (click)="update()"><i class="bi bi-save"></i>
            Update</button>
    </div>
</div>