<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ modalHeaderText }}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
</div>
<div class="modal-body">
    <div class="row mb-3">
        <div class="col-sm-4">
            <div class="establishment-info">
                <h6>Establishment Information</h6>
                <div class="p-1">
                    <div class="row">
                        <div class="col">
                            <div class="mb-2">
                                <label class="form-label">Code</label>
                                <input type="text" class="form-control form-control-sm" placeholder="Code"
                                    [(ngModel)]="establishment.code" [disabled]="disableCode()">
                            </div>
                            <div class="mb-2">
                                <label class="form-label">Block</label>
                                <select class="form-select form-select-sm" [(ngModel)]="establishment.block">
                                    <option *ngFor="let o of blocks;" [value]="o.value">{{ o.label }}</option>
                                </select>
                            </div>
                            <div class="mb-2">
                                <label class="form-label">Address</label>
                                <textarea class="form-control form-control-sm" rows="3"
                                    [(ngModel)]="establishment.address" placeholder="Address"></textarea>
                            </div>
                            <div class="mb-2">
                                <label class="form-label">Establishment Type</label>
                                <select class="form-select form-select-sm" [(ngModel)]="establishment.type">
                                    <option *ngFor="let o of types;" [value]="o.value">{{ o.label }}</option>
                                </select>
                            </div>
                            <div class="mb-2">
                                <label class="form-label">Image Attachment</label>
                                <input class="form-control form-control-sm" type="file" multiple="true"
                                    (change)="onImageSelected($event)" accept="image/*">
                            </div>
                            <div class="mb-2" *ngIf="establishment.image !== ''">
                                <img [src]="establishment.image" class="img-thumbnail" alt="profile"
                                    style="height: 90px; width: 130px;">
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="col-sm-8">
            <div class="resident-info">
                <h6>Resident Information</h6>
                <div class="p-1">
                    <div class="input-group input-group-sm mb-3">
                        <select class="form-select" [(ngModel)]="selectedResident">
                            <option *ngFor="let o of residents; let i = index" [value]="i">{{o.first_name}} {{
                                o.last_name}}</option>
                        </select>
                        <div ngbDropdown class="d-inline-block">
                            <button type="button" class="btn btn-outline-primary btn-sm" ngbDropdownToggle>
                                Action
                            </button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <button ngbDropdownItem (click)="ResidentInfo('Add')">Add</button>
                                <button ngbDropdownItem (click)="ResidentInfo('Update')">Edit</button>
                                <div class="dropdown-divider"></div>
                                <button ngbDropdownItem (click)="deleteResident()">Delete</button>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive" *ngIf="residents.length > 0">
                        <table class="table table-sm table-bordered table-striped" id="resident-table">
                            <tbody>
                                <tr>
                                    <th>First Name</th>
                                    <td>{{ residents[selectedResident].first_name}}</td>
                                    <th>Nationality</th>
                                    <td>{{ residents[selectedResident].nationality }}</td>
                                </tr>
                                <tr>
                                    <th>Middle Name</th>
                                    <td>{{ residents[selectedResident].middle_name }}</td>
                                    <th>Civil Status</th>
                                    <td>{{ residents[selectedResident].civil_status }}</td>
                                </tr>
                                <tr>
                                    <th>Last Name</th>
                                    <td>{{ residents[selectedResident].last_name }}</td>
                                    <th>Date of Birth</th>
                                    <td>{{ residents[selectedResident].birth_date }}</td>
                                </tr>
                                <tr>
                                    <th>Occupation</th>
                                    <td>{{ residents[selectedResident].occupation }}</td>
                                    <th>Contact No</th>
                                    <td>{{ residents[selectedResident].contact_no }}</td>
                                </tr>
                                <tr>
                                    <th>Present Address</th>
                                    <td>{{ residents[selectedResident].present_address }}</td>
                                    <th>Name / Person to be notified in case of Emergency</th>
                                    <td>{{ residents[selectedResident].emergency_name }}</td>
                                </tr>
                                <tr>
                                    <th>Age</th>
                                    <td>{{ residents[selectedResident].age }}</td>
                                    <th>Address</th>
                                    <td>{{ residents[selectedResident].emergency_address}}</td>
                                </tr>
                                <tr>
                                    <th>Gender</th>
                                    <td>{{ residents[selectedResident].gender }}</td>
                                    <th>Contact No.</th>
                                    <td>{{ residents[selectedResident].emergency_contact_no }}</td>
                                </tr>
                                <!-- <tr>
                                    <th>Attachment File</th>
                                    <td> <input class="form-control form-control-sm" type="file"></td>
                                </tr> -->
                                <tr>
                                    <th>Barangay ID</th>
                                    <td class="text-end"><button type="button"
                                            class="btn btn-outline-primary btn-sm">Generate</button>
                                    </td>
                                    <th>Barangay Residency Form</th>
                                    <td class="text-end"><button type="button"
                                            class="btn btn-outline-primary btn-sm">Generate</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <div *ngIf="action == 'Add'">
        <button type="button" class="btn btn-sm btn-outline-secondary" (click)="addMasterData()"><i
                class="bi bi-save"></i>
            Save</button>
    </div>
    <div *ngIf="action == 'View'">
        <button type="button" class="btn btn-sm btn-outline-secondary" (click)="update()"><i class="bi bi-save"></i>
            Update</button>
    </div>
</div>