<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Details and Information</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
</div>
<div class="modal-body">
    <div class="row g-6">
        <div class="col-md-4 mb-3">
            <label class="form-label">First Name</label>
            <input type="text" class="form-control" [(ngModel)]="resident.first_name" readonly disabled>
        </div>
        <div class="col-md-4 mb-3">
            <label class="form-label">Middle Name</label>
            <input type="text" class="form-control" [(ngModel)]="resident.middle_name" disabled>
        </div>
        <div class="col-md-4 mb-3">
            <label class="form-label">Last Name</label>
            <input type="text" class="form-control" [(ngModel)]="resident.last_name"  disabled>
        </div>
        <!-- <div class="col-12">
            <label class="form-label">Address</label>
            <input type="text" class="form-control" [(ngModel)]="resident.address">
        </div>
        <div class="col-12">
            <label class="form-label">Emergency Address</label>
            <input type="text" class="form-control" [(ngModel)]="resident.emergency_address">
        </div> -->
        <div class="col-md-2 mb-3">
            <label class="form-label">Occupation</label>
            <input type="text" class="form-control" [(ngModel)]="resident.occupation" disabled>
        </div>
        <div class="col-md-2 mb-3">
            <label class="form-label">Age</label>
            <input type="text" class="form-control" [(ngModel)]="resident.age" disabled>
        </div>
        <div class="col-md-2 mb-3">
            <label class="form-label">Gender</label>
            <input type="text" class="form-control" [(ngModel)]="resident.sex" disabled>
        </div>
        <div class="col-md-2 mb-3">
            <label class="form-label">Nationality</label>
            <input type="text" class="form-control" [(ngModel)]="resident.nationality" disabled>
        </div>
        <div class="col-md-2 mb-3">
            <label class="form-label">Civil Status</label>
            <input type="text" class="form-control" [(ngModel)]="resident.civil_status" disabled>
        </div>
        <div class="col-md-2 mb-3">
            <label class="form-label">Birth Date</label>
            <input type="text" class="form-control" [(ngModel)]="resident.birth_date" disabled>
        </div>
        <div class="col-md-4 mb-3">
            <label class="form-label">Code</label>
            <input type="text" class="form-control" [(ngModel)]="resident.code" disabled>
        </div>
        <div class="col-md-4 mb-3">
            <label class="form-label">Block</label>
            <input type="text" class="form-control" [(ngModel)]="resident.block" disabled>
        </div>
        <div class="col-md-4 mb-3">
            <label class="form-label">Type</label>
            <input type="text" class="form-control" [(ngModel)]="resident.type" disabled>
        </div>
        <div class="col-12 mb-3">
            <label class="form-label">Address</label>
            <input type="text" class="form-control" [(ngModel)]="resident.address" disabled>
        </div>
        <div class="col-12 mb-3">
            <label class="form-label">Emergency Address</label>
            <input type="text" class="form-control" [(ngModel)]="resident.emergency_address" disabled>
        </div>
        <div class="col-4 mb-3">
            <label class="form-label">Contact No.</label>
            <input type="text" class="form-control" [(ngModel)]="resident.contact_no" disabled>
        </div>
        <div class="col-4 mb-3">
            <label class="form-label">Emergency Contact No.</label>
            <input type="text" class="form-control" [(ngModel)]="resident.emergency_contact_no" disabled>
        </div>
        <div class="col-4 mb-3">
            <label class="form-label">Emergency Contact Person</label>
            <input type="text" class="form-control" [(ngModel)]="resident.emergency_contact_no" disabled>
        </div>
    </div>
</div>