<div class="header p-2">
    <h4>List of Establishments</h4>
</div>
<div class="body p-2">
    <div class="page-controller mb-2">
        <div class="row">
            <div class="col-sm-1">
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="open()"><i
                        class="bi bi-plus-circle"></i>
                    New</button>
            </div>
        </div>
    </div>
    <table class="table table-sm table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col" class="text-end" width="3%">#</th>
                <th scope="col">Code</th>
                <th scope="col">Block</th>
                <th scope="col">Address</th>
                <th scope="col">Type</th>
                <th scope="col">No. of Resident</th>
                <th scope="col">Map Area</th>
                <th scope="col" class="text-center" width="5%">Action</th>
            </tr>
        </thead>
        <tbody>
            @for(e of establishments | slice: (page-1) * pageSize : page * pageSize; track e; let i = $index) {
            <tr>
                <td class="text-end">{{ i + 1 }}</td>
                <td>{{ e.code }}</td>
                <td>{{ e.block }}</td>
                <td>{{ e.address}}</td>
                <td>{{ e.type }}</td>
                <td>{{ e.no_of_resident }}</td>
                <td>{{ mapAreaDescription(e.coordinates) }}</td>
                <td class="overflow-hidden text-center">
                    <div ngbDropdown container="body">
                        <button type="button" class="btn btn-outline-primary btn-sm" ngbDropdownToggle>Action</button>
                        <div ngbDropdownMenu>
                            <button ngbDropdownItem (click)="openMasterData(e.id)">Details</button>
                            <button ngbDropdownItem (click)="openMap(e)">Locate</button>
                            <!-- <button ngbDropdownItem>Edit</button> -->
                            <!-- <button ngbDropdownItem>Inactive</button> -->
                        </div>
                    </div>

                </td>
            </tr>
            }
        </tbody>
    </table>
    <ngb-pagination [collectionSize]="establishments.length" [(page)]="page" [maxSize]="10" [boundaryLinks]="true">
    </ngb-pagination>
</div>