<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ modalHeaderText }}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
</div>
<div class="modal-body">
    <div class="row mb-3">
        <div class="col">
            <div class="mb-1">
                <label class="form-label form-label-sm">First Name</label>
                <input type="text" class="form-control form-control-sm" [(ngModel)]="resident.first_name">
            </div>
            <div class="mb-1">
                <label class="form-label form-label-sm">Last Name</label>
                <input type="text" class="form-control form-control-sm" [(ngModel)]="resident.last_name">
            </div>
            <div class="mb-1">
                <label class="form-label form-label-sm">Middle Name</label>
                <input type="text" class="form-control form-control-sm" [(ngModel)]="resident.middle_name">
            </div>
            <div class="mb-1">
                <label class="form-label form-label-sm">Occupation</label>
                <input type="text" class="form-control form-control-sm" [(ngModel)]="resident.occupation">
            </div>
            <div class="mb-1">
                <label class="form-label form-label-sm">Present Address</label>
                <textarea type="text" class="form-control form-control-sm" rows="3"
                    [(ngModel)]="resident.present_address"></textarea>
            </div>
            <div class="mb-1">
                <label class="form-label form-label-sm">Age</label>
                <input type="number" class="form-control form-control-sm" [(ngModel)]="resident.age">
            </div>
            <div class="mb-1">
                <label class="form-label form-label-sm">Gender</label>
                <select class="form-select form-select-sm" [(ngModel)]="resident.gender">
                    <option *ngFor="let o of genders;" [value]="o.value">{{ o.label }}</option>
                </select>
            </div>

        </div>
        <div class="col">
            <div class="mb-1">
                <label class="form-label form-label-sm">Nationality</label>
                <input type="text" class="form-control form-control-sm" [(ngModel)]="resident.nationality">
            </div>
            <div class="mb-1">
                <label class="form-label form-label-sm">Civil Status</label>
                <select class="form-select form-select-sm" [(ngModel)]="resident.civil_status">
                    <option *ngFor="let o of list_civil_status;" [value]="o.value">{{ o.label }}</option>
                </select>
            </div>
            <div class="mb-1">
                <label class="form-label form-label-sm">Date of Birth</label>
                <div class="input-group">
                    <input class="form-control form-control-sm" placeholder="dd/mm/yyyy" [(ngModel)]="resident.birth_date"
                        ngbDatepicker #bdayDP="ngbDatepicker" />
                    <button class="btn btn-sm btn-outline-secondary bi bi-calendar3" (click)="bdayDP.toggle()"
                        type="button"></button>
                </div>
            </div>
            <div class="mb-1">
                <label class="form-label form-label-sm">Contact No</label>
                <input type="text" class="form-control form-control-sm" [(ngModel)]="resident.contact_no">
            </div>
            <div class="mb-1">
                <label class="form-label form-label-sm">Name / Person to be notified in case of emergency</label>
                <input type="text" class="form-control form-control-sm" [(ngModel)]="resident.emergency_name">
            </div>
            <div class="mb-1">
                <label class="form-label form-label-sm">Emergency Address</label>
                <textarea type="text" class="form-control form-control-sm" rows="3"
                    [(ngModel)]="resident.emergency_address"></textarea>
            </div>
            <div class="mb-1">
                <label class="form-label form-label-sm">Emergency Contact No.</label>
                <input type="text" class="form-control form-control-sm" [(ngModel)]="resident.emergency_contact_no">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-outline-secondary" (click)="setResident()"><i
                class="bi bi-save"></i>
            Add</button>
    </div>