<div class="d-flex justify-content-center pt-2">
  <ul class="list-group list-group-horizontal text-center">
    <li class="list-group-item"><span class="dot"></span> <br>Street</li>
    <li class="list-group-item"><span class="dot-alley"></span> <br>Alley</li>
    <li class="list-group-item"><span style="color: black; font-weight: 1000;">- - - </span> <br>Main Road</li>
    <li class="list-group-item"><img class="thumbnail" src="assets/fire_hazard.png" width="40" height="30" /> <br>Fire
      Hazard</li>
    <li class="list-group-item"><img class="thumbnail" src="assets/flood_prone.png" width="40" height="30" /> <br>Flood
      Prone</li>
    <li class="list-group-item"><img class="thumbnail" src="assets/vacant_lot.png" width="40" height="30" /> <br>Vacant
      Lot</li>
  </ul>
</div>
<div class="d-flex justify-content-center p-1">
  <canvas #canvas (mousemove)="onMouseMove($event)" (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp($event)"
    (wheel)="zoomInOut($event)"></canvas>
</div>
<div class="container-fluid">
  <div class="row justify-content-between fixed-row-bottom p-3">
    <div class="col">
      <div class="row">
        <div class="col-2">
          <img class="rounded-circle me-3" src="assets/logo3.jpg" width="80" height="80" />
        </div>
        <div class="col-10">
          <h3 class="text-light">Caloocan City Barangay <br>132 Resident Tracker System</h3>
        </div>
      </div>
    </div>
    <div class="col">
      <ul class="list-group list-group-horizontal text-center">
        <button type="button" class="list-group-item list-group-item-action list-group-button"
          (click)="openLg(searchmodal)"><i class="bi bi-search"></i> <br>
          Search</button>
        <button type="button" class="list-group-item list-group-item-action list-group-button" (click)="open()"><i
            class="bi bi-person-add"></i> <br> New
          Resident</button>
      </ul>
    </div>
    <div class="col">
      <div class="d-flex flex-row-reverse bd-highlight">
        <div class="p-2 bd-highlight"><img class="rounded" src="assets/mayor.jpg" width="180" height="80" /></div>
        <div class="p-2 bd-highlight"><img class="rounded-circle" src="assets/logo1.jpg" width="80" height="80" /></div>
      </div>
    </div>
  </div>
</div>


<!-- <input class="form-control form-control-sm" id="search-bar" type="text" [(ngModel)]="resident"
          [ngbTypeahead]="search" [resultFormatter]="searchFormatter" (change)="onSearch()">
        <button class="btn btn-outline-primary" type="button" (click)="open(content)"><i
            class="bi bi-house-add"></i></button> -->


<ng-template #searchmodal let-modal>

  <div class="modal-body">
    <div class="row mb-3">
      <div class="col text-center">
        <!-- <input type="text" class="form-control" placeholder="Search" [(ngModel)]="resident" [ngbTypeahead]="search"
          [resultFormatter]="searchFormatter" (change)="onSearch()"> -->
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="search" (change)="onSearch()">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col text-center">
        <h6>Searching <div class="spinner-border spinner-border-sm" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </h6>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <ol class="list-group list-group-numbered mb-3">
          <li class="list-group-item d-flex justify-content-between align-items-start"
            *ngFor="let o of residents;let i = index">
            <div class="ms-2 me-auto">
              <div class="fw-bold">{{o.first_name}} {{ o.last_name}} <img src="assets/img_avatar.png" alt="Avatar"
                  width="28" height="28" style="border-radius: 50%; margin-left: 5px;"></div>
              <label class="me-1">Block: {{ o.block }}</label>
              <label class="me-1">Code: {{o.code}}</label>
              <label class="me-1">Address: {{ o.address }}</label>

            </div>
            <div class="d-grid gap-1">
              <button type="button" class="btn btn-primary btn-sm" (click)="open()"><i
                class="bi bi-arrow-right-short"></i> Details</button>
              <button type="button" class="btn btn-secondary btn-sm" (click)="track()"><i
                class="bi bi-geo-alt-fill"></i> Track</button>
            </div>
           
          </li>

        </ol>
        <label>Result: {{ residents.length }}</label>
      </div>
    </div>
  </div>

</ng-template>