<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="'.'">Barangay 132 Residence Tracker System</a>

    <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">&#9776;</button>

    <!-- Step 2: Add the ngbCollapse directive to the element below. -->

  </div>
</nav>

<div class="container-fluid">
  <div class="z-1 position-absolute p-3 rounded-3">
    <div style="padding-left: 50px;">
      <div class="input-group mb-3">
        <input class="form-control form-control-sm" id="search-bar" type="text" [ngbTypeahead]="search"
          [resultFormatter]="searchFormatter">
        <button class="btn btn-outline-secondary" type="button" (click)="open(content)">New</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="map"></div>
  </div>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New Establishment</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-4">
        <div class="establishment-info">
          <h6>Establishment Information</h6>
          <div style="padding: 10px;">
            <div class="mb-3">
              <label class="form-label">Code</label>
              <input type="text" class="form-control" placeholder="Code">
            </div>
            <div class="mb-3">
              <label class="form-label">Block</label>
              <input type="text" class="form-control" placeholder="Block">
            </div>
            <div class="mb-3">
              <label class="form-label">Address</label>
              <input type="text" class="form-control" placeholder="Address">
            </div>
            <div class="mb-3">
              <label class="form-label">Establishment Type</label>
              <select class="form-select">
                <option selected>Select Type</option>
                <option value="1">Residential</option>
                <option value="2">Commercial</option>
                <option value="3">Apartment</option>
                <option>Others</option>
              </select>
            </div>
          </div>

        </div>
      </div>
      <div class="col">
        <div class="resident-info">
          <h6>Resident Information</h6>
          <div style="padding: 10px;">
            <table class="table table-sm table-hover table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First Name</th>
                  <th scope="col">Middle Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Occupation</th>
                  <th scope="col">Present Address</th>
                  <th scope="col">Age</th>
                  <th scope="col">Sex</th>
                  <th scope="col">Nationality</th>
                  <th scope="col">Civil Status</th>
                  <th scope="col">Date of Birth</th>
                  <th scope="col">Contact No</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      
    </div>


  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>