.canvas-container {
    height: 1360px !important;
    position: relative;
    overflow-y: scroll !important;
    box-shadow: 2px 2px 3px 2px #999;
    margin-top: 1.5rem;
}

canvas {
    width: 100%;
    position: absolute;
}

.float {
    position: fixed;
    width: 100px;
    height: 100px;
    float: left;
    top: 45%;
    left: 1%;
    background-color: #0d6efd;
    color: #FFF;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 3px #999;
}

.header-color {
    color: #F57921;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #f3f3f3e3;
    font-size: 5rem;
    font-style: oblique;
    text-shadow: 5px 5px #05050567;
}

.footer-text {
    color: #F57921;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #f3f3f3e3;
    font-size: 3rem;
    text-shadow: 3px 3px #05050567;
}