.canvas-container {
    position: relative;
    box-shadow: 2px 2px 3px 2px #999;
}

canvas {
    width: 100%;
    position: absolute;
}

.float {
    position: fixed;
    width: 100px;
    height: 100px;
    float: left;
    top: 45%;
    left: 1%;
    background-color: #0d6efd;
    color: #FFF;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 3px #999;
}

.header-color {
    color: #F57921;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #f3f3f3e3;
    font-size: 7.5rem;
    font-family: 'Lobster';
}