<div class="canvas-container">
  <canvas #innerCanvas (click)="clickCanvas($event, searchmodal)"></canvas>
  <canvas #outerCanvas (click)="clickCanvas($event, searchmodal)"></canvas>
</div>

<div type="button" class="float" (click)="openLg(searchmodal)">
  <i class="bi bi-search"></i>
</div>

<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4" src="assets/logo3.jpg" alt="" width="160" height="150"
        style="box-shadow: 2px 2px 3px #999;">
  <h1 class="display-5 fw-bold">Caloocan City Barangay
    132 Resident Tracker System</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">A resident tracker system is a software tool that helps organizations track people they serve,
      such as homeless shelter residents or program participants. Resident tracker systems can help with tracking
      educational needs, financial shortfalls, medical needs, and more.</p>
  </div>
</div>



<ng-template #searchmodal let-modal>
  <div class="modal-body">
    <div class="row mb-3">
      <div class="col text-center">
        <!-- <input type="text" class="form-control" placeholder="Search" [(ngModel)]="resident" [ngbTypeahead]="search"
          [resultFormatter]="searchFormatter" (change)="onSearch()"> -->
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="search" (change)="onSearch()">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col text-center">
        <h6>Searching <div class="spinner-border spinner-border-sm" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </h6>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <ol class="list-group list-group-numbered mb-3">
          <li class="list-group-item d-flex justify-content-between align-items-start"
            *ngFor="let o of residents;let i = index">
            <div class="ms-2 me-auto">
              <div class="fw-bold">{{o.first_name}} {{ o.last_name}} <img src="assets/img_avatar.png" alt="Avatar"
                  width="28" height="28" style="border-radius: 50%; margin-left: 5px;"></div>
              <label class="me-1">Block: {{ o.block }}</label>
              <label class="me-1">Code: {{o.code}}</label>
              <label class="me-1">Address: {{ o.address }}</label>

            </div>
            <div class="d-grid gap-1">
              <button type="button" class="btn btn-primary btn-sm" (click)="openMasterData(o.establishment_id, o.id)"><i
                  class="bi bi-arrow-right-short"></i> Details</button>
              <button type="button" class="btn btn-secondary btn-sm"><i class="bi bi-geo-alt-fill"></i> Track</button>
            </div>

          </li>

        </ol>
        <label>Result: {{ residents.length }}</label>
      </div>
    </div>
  </div>
  <div class="modal-footer">

  </div>

</ng-template>

<!-- <img src="assets/map2.png" alt="Workplace" usemap="#workmap"> -->