canvas {
    position: absolute;
}

.float {
    position: fixed;
    width: 100px;
    height: 100px;
    float: left;
    top: 45%;
    left: 1%;
    background-color: #0d6efd;
    color: #FFF;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 3px #999;
}